@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.landing {
	padding: var(--space-8) 0;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 980px;
	margin: 0 auto;

	.container {
		display: flex;
		flex-direction: row;
		gap: var(--space-12);

		.logo {
			padding-top: 112px;
			padding-bottom: 16px;
		}

		.tagline {
			max-width: 500px;
			min-width: 400px;
			font-size: clamp(1.5rem, 3vw, 1.8rem);
			font-weight: 700;
			line-height: 1.2;
			color: $text-primary;
		}
	}

	@include respond(md) {
		align-items: normal;
		.container {
			.marketing {
				text-align: center;
			}

			.logo {
				padding-top: 0;
			}

			.tagline {
				width: 400px;
			}
		}
	}
}
