@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.landing {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 980px;
	margin: 0 auto;

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--space-12);

		.marketing {
			padding-right: 32px;
		}

		.logo {
			padding-top: 112px;
			padding-bottom: 16px;
		}

		.tagline {
			margin: 0 auto;
			max-width: 500px;
			font-size: clamp(1.1rem, 2vw, 1.8rem);
			font-weight: 400;
			line-height: 1.2;
			color: $text-primary;
		}

		.login {
			font-size: 1.2rem;
		}
	}

	@include respond(md) {
		align-items: normal;
		.container {
			flex-direction: column;
			.marketing {
				text-align: center;
				padding: 0;
			}

			.logo {
				padding-top: 0;
			}

			.tagline {
				max-width: 400px;
			}
		}
	}
}
