@use '../abstracts/variables' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
	font: inherit;
	font-family: inherit;
	color: inherit;
}

a {
	color: $color-moses-200;
	text-decoration: none;

	&:hover {
		color: $color-moses-100;
	}

	&:active {
		color: $color-moses-400;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
}

// img,
// picture,
// video,
// canvas,
// svg {
// 	display: block;
// 	max-width: 100%;
// }
